/**
  Need to get a proper breakpoint lib going
  @see https://css-tricks.com/approaches-media-queries-sass/
 */

/// iPads (portrait and landscape)
@media only screen and (max-width: 1024px) {

  .layout__center {
    width: 980px;
  }

  #primary {
    width: 620px;
  }

}

/// iPads (portrait and landscape)
@media only screen and (max-width: 768px) {

  .layout__center {
    width: 660px;
    flex-direction: column;
  }

  #primary {
    width: 100%;
  }

  #sidebar {
    width: 100%;
    .widget {
      padding-left: 0;
    }
  }

}

/// Smartphones (portrait and landscape)
@media only screen and (max-width: 480px) {

  .layout__center {
    width: 100%;
    flex-direction: column;
  }

  #primary {
    width: 100%;
  }

  #logo a {
    font-size: 30px;
  }

  #main-nav {
    display: none !important;
  }

  #mobile-nav {
    display: block;
  }

}
