// forms
$color-input: #f4f4f7;
$color-input-focus: #fff;
$color-button: #fcfcfc;

// border
$color-border-dark: #969696;
$color-border-light: #ebebec;
$color-border-focus: #f4f4f7;

// greys
$color-grey-darkest: #2c2f32;
$color-grey-darker: #414244;
$color-grey: #6a6d73;
$color-grey-lighter: #a7a7a7;
$color-grey-lightest: #fbfbfb;

// black and white
$black: #000;
$white: #fff;

// reds
$color-error: #ff0000;
$color-primary: #ea4848;
$color-secondary: #22272d;
