#footer {
  background: transparent url(/assets/theme/bg-footer.jpg) repeat;
  border-top: 4px solid #0a0c0e;
  color: #A7A7A7;
  box-shadow: 0 -4px 0 rgba(0, 0, 0, .1);
}

#footer .widget-title {
  color: #fff;
}

#footer a {
  color: #ebebec;
  transition: color .1s linear;
  &:hover {
    text-decoration: none;
    color: #ea4848;
  }
}

.footer-col {
  float: left;
  margin-right: 20px;
  width: 300px;
}

.footer-col:last-child {
  margin-right: 0;
}

#footer .widget {
  > ul a {
    background: #22272d;
    color: #A7A7A7;
  }

  > ul li {
    background: #22272d;
  }

  > ul a:hover {
    color: #ea4848;
  }
}


.footer-lower {
  background: #151619;
  font-family: 'Patua One', Georgia, serif;
  text-transform: uppercase;
}

.footer-inner {
  margin: 0 auto;
  overflow: hidden;
  padding: 4.375em 0 5em;
  // width: 940px;
}

.footer-lower .footer-inner {
  padding: 1.875em 0;
}

.copyright,
.credit {
  font-size: 12px;
  margin-bottom: 0;
}

.copyright {
  float: left;
  margin-left: 2.127659574%; /* 20px */
}

.credit {
  float: right;
  margin-right: 2.127659574%; /* 20px */
}

