iframe {
  max-width: 100%;
  margin-bottom: 1.25em;
}

.post-thumb {
  background: #ea4848 url(/assets/theme/plus.png) 50% 50% no-repeat;
  margin: 1.429em 20px;
}

.layout__single .post-thumb {
  background: none;
}

.post-thumb img {
  vertical-align: bottom;
}

.post-thumb iframe {
  margin-bottom: 0;
  vertical-align: bottom;
  width: 100%;
}

.post-thumb a {
  display: block;
  text-decoration: none;
}

.layout__single .format-gallery .post-thumb {
  background: none;
  padding-bottom: 2.8125em;
}

.format-audio .post-thumb,
.format-video .post-thumb {
  background: none;
}

.entry-content {
  max-width: 100%;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

img.alignleft {
  float: left;
  margin: 10px 25px 10px 0;
}

img.alignright {
  display: block;
  margin: 10px 0 10px 25px;
}

img.aligncenter {
  display: block;
  clear: both;
  margin: 10px auto;
}

img.alignnone {
  display: block;
  margin: 10px 0;
}

.wp-caption {
  text-align: center;
  margin: 10px 20px 20px 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.wp-smiley {
  max-height: 13px;
  margin: 0 !important;
}

.gallery-item {
  margin: auto;
}

.gallery-caption,
.image-caption {
  color: #A7A7A7;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-style: italic;
  margin-top: 1em;
  text-align: center;
  line-height: 1.4em;
}
