#footer {
  background: transparent url(/assets/theme/bg-footer.jpg) repeat;
  border-top: 4px solid #0a0c0e;
  color: $color-grey-lighter;
  box-shadow: 0 -4px 0 rgba(0, 0, 0, .1);

  a {
    color: $color-grey-lightest;
    transition: color .1s linear;
    &:hover {
      text-decoration: none;
      color: $color-primary;
    }
  }

  .widget {
    > ul a {
      background: $color-secondary;
      color: $color-grey-lighter;
    }

    > ul li {
      background: $color-secondary;
    }

    > ul a:hover {
      color: $color-primary;
    }
  }

  .widget-title {
    color: $white;
  }

}

.footer-col {
  float: left;
  margin-right: 20px;
  width: 300px;

  &:last-child {
    margin-right: 0;
  }
}


.footer-lower {
  background: #151619;
  font-family: 'Patua One', Georgia, serif;
  text-transform: uppercase;
}

.footer-inner {
  margin: 0 auto;
  overflow: hidden;
  padding: 4.375em 0 5em;
  // width: 940px;
}

.footer-lower .footer-inner {
  padding: 1.875em 0;
}

.copyright,
.credit {
  font-size: 12px;
  margin-bottom: 0;
}

.copyright {
  float: left;
  margin-left: 2.127659574%; /* 20px */
}

.credit {
  float: right;
  margin-right: 2.127659574%; /* 20px */
}

