.main-navigation {
  background: $white;
  border-bottom: 4px solid #fbfbfb;
  box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0, 0, 0, .2);
}

#main-nav {
  position: relative;
  height: 3.125em;
  margin: 0 auto;
}

#mobile-nav {
  display: none;
  position: relative;
}

#main-menu {
  li {
    float: left;
    position: relative;
    z-index: 40;
    border-right: 1px solid $color-border-light;
    &:first-child {
      border-left: 1px solid $color-border-light;
    }
  }

  a.active--exact {
    border-bottom: none;
    border-top: 3px solid #2c2d32;
  }
}

#mobile-menu-dropdown {
  position: absolute;
  top: -48px;
  left: 6px;
  background: $color-grey-darkest url(/assets/theme/menu-icon.png) no-repeat 0 0;
  background-size: 100% 100%;
  border-bottom: none;
  cursor: pointer;
  margin-top: 20px;
  height: 28px;
  width: 40px;
}

#mobile-menu {
  position: absolute;
  width: 100%;
  background: $color-grey-darkest;
  padding: 10px 0;
  z-index: 1000;

  li {
    border: none !important;
    display: block;
    float: none !important;
  }

  a {
    border: none;
    color: $white;
    height: 2.5em;
    line-height: 2.5em;
  }
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 3.125em;

  a {
    display: block;
    position: relative;
    font-family: 'Patua One', Georgia, serif;
    text-transform: uppercase;
    top: -1px;
    border-bottom: none;
    border-top: 3px solid transparent;
    padding: 0 15px;
    color: $color-grey-darkest;
  }

  a {
    text-decoration: none;
    &:hover,
    &.active--exact {
      color: $color-primary !important;
    }
  }
}

a.active--exact {
  color: $color-primary !important;
}

