#s {
  background: transparent url(/assets/theme/sprite.png) 15px -53px no-repeat;
  border-color: $color-border-light;
  height: 1.65em;
  line-height: 1.6em;
  margin-top: 0;
  padding-left: 45px;
  width: 210px;

  &:focus {
    background-color: #f4f4f7;
    background-position: 15px -4px;
    border-color: #f4f4f7;
    width: 150px;
  }
}

#main-nav #s {
  height: 2.4em;
  width: 0;
  padding-left: 36px;
  float: right;
  border-color: #f4f4f7;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background-color: inherit;
  font-size: 1em;
  line-height: 1.6em;
  text-indent: 5px;
  transition: width .2s linear;

  &:focus {
    width: 120px;
  }
}

