// ---------------------------------------------------------------------------------------------------------------------
// LAYOUT
// ---------------------------------------------------------------------------------------------------------------------

.widget {
  border-bottom: 1px solid #ebebec;
  margin: 1.875em 0 0 0;
  padding: 0 20px 1.875em;
}

.widget:first-child {
  margin-top: 0;
}

.widget:last-child {
  margin-bottom: 0;
  border: none;
}

#footer .widget {
  border-bottom: none;
}

// ---------------------------------------------------------------------------------------------------------------------
// FORMATTING
// ---------------------------------------------------------------------------------------------------------------------

.widget-title {
  color: #2c2f32;
  font-family: 'Patua One', Georgia, serif;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  font-size: 14px;
}

.widget > ul {
  list-style-type: none;
  margin: 0;
}

.widget > ul > li {
  display: block;
  padding: 0;
  border: none;
  margin-bottom: 0.35em;
  background: #fafafb;
  border-radius: 2px;
}

.widget > ul a {
  display: block;
  padding: 0.35em 0.84em;
  color: #414244;
  line-height: 1.5em;
  transition: color .1s linear;

  &:hover {
    text-decoration: none;
    color: #ea4848;
  }
}

.widget li {
  .text {
    background: none !important;
  }

  .meta {
    float: right;
    font-size: 0.7em;
    border-radius: 3px;
    padding: 0px 6px;
  }
}
