
body {
  font: 14px/1.571em Helvetica, Arial, "Lucida Grande", sans-serif;
  background: transparent url(/assets/theme/bg-body.gif) repeat fixed;
  border-top: 4px solid #2c2f32;
  color: #414244;
  min-width: 980px;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

a {
  color: #ea4848;
  text-decoration: none;
  -webkit-transition: color .1s linear;
  -moz-transition: color .1s linear;
  -ms-transition: color .1s linear;
  -o-transition: color .1s linear;
  transition: color .1s linear;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

a > img {
  vertical-align: bottom;
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form,
.gallery-row,
.post-thumb,
.author-bio,
#logo {
  margin-bottom: 1.429em; /* 20px */
}

.hentry,
.navigation-links,
.hfeed,
.pinglist {
  margin-bottom: 2.857em; /* 40px */
}

.widget
.children,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ul,
.comment-body ol ol,
.comment-body ol ul,
.comment-body ul ul,
.widget ul ul {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 1.1667em;
}

h2 {
  font-size: 20px;
  line-height: 1.4em;
  margin: 0 0 1em 0;
}

h3 {
  font-size: 16px;
  line-height: 1.429em;
  margin: 0 0 0.5em 0;
}

h4 {
  font-size: 14px;
  line-height: 1.2857em;
}

h5 {
  font-size: 12px;
  line-height: 1.5em;
}

h6 {
  font-size: 10px;
  line-height: 1.6em;
}

.page-title {
  font-family: 'Patua One', Georgia, serif;
  font-size: 16px;
  line-height: 1.2em;
  margin-left: 10px;
  margin-bottom: 1.25em;
  text-transform: uppercase;
}

.entry-title,
.page.page-template-template-home-2col-php .entry-title {
  color: #2a2e31;
  font-family: 'Patua One', Georgia, serif;
  font-size: 20px;
  line-height: 1.4em;
  margin: 1.25em 20px 0.5em;
}

.entry-title a {
  color: #2a2e31;
}

.entry-title a:hover {
  text-decoration: none;
  color: #ea4848;
}

.single .entry-title,
.page .entry-title,
.page-template-template-home-blog-php .entry-title {
  font-size: 24px;
  margin-top: 0.8em;
}

.entry-content h2, h3, h4 {
  font-family: 'Patua One', Georgia, serif;
}
