@import "hoarder/index.scss";
// @import "davestewart/index.scss";


.widget span.text {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2em;
  vertical-align: sub;
}
