input,
textarea {
  color: $color-grey-darkest;
  background: $color-input;
  border: 1px solid $color-border-light;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  padding: 6px 10px 5px 10px;
  width: 240px;

  &:focus {
    background: $color-input-focus;
    border-color: $color-border-focus;
  }
}

textarea {
  width: 90%;
}

button {
  background-color: $color-button;
  background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7);
  border: 1px solid $color-border-dark;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px $white inset;
  cursor: pointer;
  font-family: 'Patua One', Georgia, serif;
  font-size: 16px;
  line-height: 1em;
  padding: 0.375em 10px;
  text-shadow: 0 1px 0 $white;
  width: auto;

  &:hover {
    background: $white;
    border-color: $color-border-dark;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

form.form {

  .wpforms-field {
    padding: 10px 0;
    clear: both;
  }

  label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;

    &[required]:after {
      content: '*';
      color: $color-error;
      font-weight: 400;
    }
  }

  input[type=text],
  input[type=email],
  textarea {
    background-color: $white;
    box-sizing: border-box;
    border-radius: 2px;
    display: block;
    float: none;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    height: 38px;
    width: 100%;
    line-height: 1.3;
  }

  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
  }

}

label.error {
  color: red;
}
