
.post-hierarchy {

  p,
  li {
    line-height: 1.4em;
  }

  .group {
    margin-left: 40px;
  }

  > .group {
    margin-left: 0;
  }

  .category a {
    color: black;
  }

  .post {
    margin-bottom: 10px;
  }

  .post a {
    padding-bottom: 5px;
    text-decoration: none !important;
  }

  .post a:hover .title {
    text-decoration: underline;
  }

  .level-1 > .description {
    margin-top: -20px;
  }

  .level-2 > .description {
    margin-top: -10px;
  }

  .level-3 > .description {
    margin-top: -5px;
  }

  .group.level-1 {
    > ul {
      display: none;
    }
  }

  .group.level-2 {
    margin-left: 20px;
  }

  .description,
  .excerpt {
    font-size: 0.9em;
    color: grey;
  }

  .comments {
    position: relative;
    display: inline-block;
    padding: 1px 3px;
    top: -5px;
    left: 4px;
    min-width: 8px;
    text-align: center;

    font-size: 8px;
    font-family: arial;
    line-height: 10px;
    color: #fff;
    background: #000;

    border-radius: 3px;
  }

  .comments:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    bottom: -5px;
    left: 30%;
    border-width: 5px 5px 0px 0;
    border-style: solid;
    border-color: #000 transparent;
  }
}
