.main-navigation {
  background: #fff;
  border-bottom: 4px solid #fafafb;
  box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0, 0, 0, .2);
}

#main-nav {
  position: relative;
  height: 3.125em;
  margin: 0 auto;
}

#mobile-nav {
  display: none;
  position: relative;
}

#main-menu {
  li {
    float: left;
    position: relative;
    z-index: 40;
    border-right: 1px solid #ebebec;
    &:first-child {
      border-left: 1px solid #ebebec;
    }
  }

  a.active--exact {
    border-bottom: none;
    border-top: 3px solid #2c2d32;
  }
}

#mobile-menu-dropdown {
  position: absolute;
  top: -48px;
  left: 6px;
  background: transparent url(/assets/theme/menu-icon.gif) 0 0 no-repeat;
  border-bottom: none;
  cursor: pointer;
  margin-top: 20px;
  height: 28px;
  width: 40px;
}

#mobile-menu {
  position: absolute;
  width: 100%;
  background: #202222;
  padding: 10px 0;
  z-index: 1000;

  li {
    border: none !important;
    display: block;
    float: none !important;
  }

  a {
    border: none;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
  }
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 3.125em;

  a {
    display: block;
    position: relative;
    font-family: 'Patua One', Georgia, serif;
    text-transform: uppercase;
    top: -1px;
    border-bottom: none;
    border-top: 3px solid transparent;
    padding: 0 15px;
    color: #2c2f32;
  }

  a {
    text-decoration: none;
    &:hover,
    &.active--exact {
      color: #ea4848 !important;
    }
  }
}

a.active--exact {
  color: #ea4848;
}

/* Back to top link ------------------------------------*/
#back-to-top {
  border-radius: 4px;
  background: #000000 url('/assets/theme/sprite.png') 12px -394px no-repeat;
  display: none;
  opacity: .7;
  height: 46px;
  width: 46px;
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  &:hover {
    opacity: 1;
  }
}
